<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/add.css">
</head>
<body>
    <h1>Silahkan tambahkan siswa baru di kelas VII jurusan elektronika</h1>
    <form action="/siswa" method="POST">
        <label for="nama">Maukkan nama siswa baru</label>
        <input type="text" name="nama" id="nama" placeholder="nama siswa baru" required><br>
        <label for="nis">Maukkan NIS siswa baru</label>
        <input type="number" name="nis" id="nis" placeholder="NIS siswa baru" required><br>
        <label for="absen">Masukkan absen siswa baru</label>
        <input type="number"name="absen" id="absen" placeholder="absen siswa baru"required><br>

        <button>Submit</button>
    </form>
</body>
</html>