<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Siswa kelas VII jurusan elektronika di SMK Negeri 1 Denpasar</h1>

    <table >
        <tr>
            <th >Nama siswa</th>
        </tr>

        <% for(let siswa of siswas) {%>
        <tr>
                <td><a href="/siswa/<%= siswa._id %>"><%=siswa.nama%></a></td>
            </tr>
            <% }%>
    </table>

    <button><a href="/siswa/add">tambahkan siswa baru</a></button>
</body>
</html>